*{

}

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;

}


body{
    font-family: "lato", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: #777;
    padding: 30px;
    background-image: linear-gradient(to right bottom, rgba(111, 201, 213, 0.75),rgba(163, 54, 54, 0.46)),url(img/hero1.jpeg);
    background-size: cover;
    background-position: center;
    position: relative;
}
		.wrapper
		{
			height: 350px;
			width: 900px;
			background-color: rgba(255, 252, 252, 0.51);
			border: 0px solid none;
			margin: 0 40px;
			margin-top: 150px;
            border-radius: 5px;
            margin-left: 250px;
           

		}
		.left
		{
			height: 170px;
			width: 400px;
			border-right: 0px solid none;
            border-radius: 10px;
			float: left;
			font-family: "lato", sans-serif;
			font-size: 25px;
			text-align: center;
			padding-top: 50px;
			margin-left: 20px;         
            text-align: center;
            padding-bottom: 20px;
             margin-top: 50px;
            margin-right: 50px;
            color: #313131;
            text-transform: uppercase;
		}
		.right
		{
			height: 250px;
			width: 299px;
			float: right;
			text-align: center;
			font-family: "lato", sans-serif;
            background-color: #ecf0f1;
            border-radius: 10px;
             margin-top: 50px;
            margin-right: 50px

}
		.right h3
		{
			border-bottom: 0px ;
			border-top: 0px ;
            border-radius: 50px;
            margin-bottom: 13px;
		}
		.input
		{
			height: 30px;
			width: 80%;
			padding-left: 20px;
            border-radius: 50px;
		}
		.btn
		{
			height: 35px;
			width: 50%;
			border: 0;
			background-color: #408080;
			margin: 0;
			color: white;
			font-weight: bold;
			cursor: pointer;
            border-radius: 50px;
            
		}

form {
    border: none;
}

.main_login{
    text-align: center;
    
}